Задание 1: Анализ финансовых транзакций и клиентов.

Описание:

В тестовом задании вам предоставляются два набора данных:
Файл transactions_data.xlsx (данные о финансовых транзакциях):
•	transaction_id – уникальный идентификатор транзакции
•	client_id – идентификатор клиента, совершившего транзакцию
•	transaction_date – дата проведения транзакции
•	service – тип оказанной финансовой услуги
•	amount – сумма транзакции (выручка)
•	payment_method – способ оплаты (банковский перевод, кредитная карта и т. д.)
•	city – город, в котором была совершена транзакция
•	consultant – имя финансового консультанта, оформившего транзакцию

Файл clients_data.json (данные о клиентах):
•	client_id – уникальный идентификатор клиента
•	age – возраст клиента
•	gender – пол клиента
•	net_worth – чистая стоимость активов клиента

Данные могут содержать пропуски, ошибки (например, некорректные даты), а также аномальные значения (отрицательные суммы, несуществующие услуги и т. д.), поэтому перед анализом необходимо их очистить и нормализовать.

Задачи:
1.	Очистка и подготовка данных. Проверить данные на пропущенные и аномальные значения (например, отрицательные суммы транзакций). Удалить или исправить некорректные данные. Привести формат дат к единому стандарту.

In [3]:
import pandas as pd

In [4]:
#Чтение файлов:
df1T = pd.read_excel('Источники/transactions_data.xlsx')
df2C = pd.read_json('Источники/clients_data.json')

In [5]:
#Проверки на дубли:
df1T.duplicated().sum()
df2C.duplicated().sum()

np.int64(0)

In [7]:
#Проверка на пустые значения:
df1T.isna().sum() #Проверка на Пустые значения в Транзакциях. 

#UPD: Значения по 0 должно быть, после очистки. UPD: Есть данные где остальные присутствуют, но нет дат.

transaction_id        0
client_id             0
transaction_date    789
service               0
amount                0
payment_method        0
city                  0
consultant            0
dtype: int64

In [8]:
#Проверка на пустые значения:
df2C.isna().sum() #Проверка на Пустые значения в Клиентах.

id              1
age           983
gender       3319
net_worth     475
dtype: int64

План очистки данных файла Транзакции:

Удалю данные: 

-Где нет id транзакции. Нет указаний, в тестовом задании, что с ним делать. И пока нет возможности спросить как откуда до грузить id. 
-Где нет id клиента в файле транзакции. Тоже самое.

-Где есть поле "Неизвестная услуга". Тоже самое. 
-Где нет в поле "transaction_date" даты. 

Пока под вопросом, попробую сначала к одному формату подогнать, может получиться исправить, и дата появится. 
*А потом выше вернемся к проверке. 

UPD1: И ещё есть формат где даты нет, но остальные данные на месте. По итогу оставили данные где нет дат, но остальные данные есть. 

UPD2:Пока не трогаю данные где есть "Неизвестный консультант" и city - "Неизвестный город"

In [9]:
#Очистка данных на пустые значения файла Транзакции:
df1T = df1T.dropna() 

#Провоерка выше.

In [10]:
#Сохранение данных:
df1T.to_excel('Источники/transactions_data.xlsx', index=False)

Пробуем сначала преобразовать даты, есть в строках со значением "INVALID_DATE". 
Возможно действие не эффективно и не целесообразное, но мы проверим.

In [12]:
#Преобразование дат к одному в формату с целью проверки изменения значения:
df1T['transaction_date'] = pd.to_datetime(df1T['transaction_date'])
#Приведение всех дат к одному формату с точностью до секунд:
df1T['transaction_date'] = df1T['transaction_date'].dt.strftime('%Y-%m-%d %H:%M:%S')

#*Чтобы сработало нужно ниже выполнить сначала "#Замена INVALID_DATE на Nan".

Нам это дало ошибку, заменим на пустые значения, проверим, может есть данные где нет дат,
но остальные данные целостные. 

Unknown datetime string format, unable to parse: INVALID_DATE, at position 15

In [11]:
#Замена INVALID_DATE на Nan

df1T['transaction_date'] = pd.to_datetime(df1T['transaction_date'], errors='coerce')

In [13]:
#Сохранение данных:
df1T.to_excel('Источники/transactions_data.xlsx', index=False)

Есть файлы где нет даты, но остальные в норме. Продолжим удаление, но по условиям.

In [14]:
#Удаление строк с "Неизвестной услугой":
df1T = df1T[df1T['service'] != 'Неизвестная услуга']

In [15]:
#Сохранение данных:
df1T.to_excel('Источники/transactions_data.xlsx', index=False)

In [16]:
#Продолжаем очистку, теперь зайдем со стороны аномальных значений:
#Использую "Межквартильный размах" (IQR). 

# Рассчитываем первый и третий квартели, чтобы посчитать IQR.
Q1 = df1T['amount'].quantile(0.25)
Q3 = df1T['amount'].quantile(0.75)

#Расчитываем IQR:
IQR = Q3 - Q1

#Устанавливаем границы 
lower_bound = max(0, Q1 - 1.5 * IQR) #Нижняя. Нижняя не может быть меньше 0. (...отрицательные суммы).
upper_bound = Q3 + 1.5 * IQR #Верхняя.

#Вывод границ: 
print(lower_bound)
print(upper_bound)

0
145125.1343807844

In [18]:
#Вывод аномальных значений из файла:
anomal = df1T[(df1T['amount'] < lower_bound) | (df1T['amount'] > upper_bound)]
print(anomal[['service','amount']])

                              service         amount
25            Финансовое планирование  147439.369086
461   Инвестиционное консультирование  145713.605919
505            Налоговое планирование  149407.108459
638   Инвестиционное консультирование  146218.600215
1000           Налоговое планирование  147333.389591
1685  Инвестиционное консультирование  148549.499778
2708        Структурирование капитала  145156.846847
3088              Управление активами  145912.853299
3142          Финансовое планирование  147667.516120
3263          Финансовое планирование  148470.649643
3425          Финансовое планирование  147064.285766
3945        Структурирование капитала  145827.584354
4581  Инвестиционное консультирование  146821.816904
5595           Налоговое планирование  146609.123497
6085  Инвестиционное консультирование  148873.575903
6212  Инвестиционное консультирование  147194.185379
6471  Инвестиционное консультирование  147704.029797
7049  Инвестиционное консультирование  145955.229808
7110  Инвестиционное консультирование  148417.287031
7510  Инвестиционное консультирование  145751.283641
7760          Финансовое планирование  147700.345858
7805  Инвестиционное консультирование  145708.113280
7866  Инвестиционное консультирование  145315.115800

In [21]:
#Удаление аномальных значений: 
df1T = df1T[(df1T['amount'] >= lower_bound) & (df1T['amount'] <= upper_bound)]

In [22]:
#Сохранение данных:
df1T.to_excel('Источники/transactions_data.xlsx', index=False)

In [23]:
#Проверка: 
#Вывод аномальных значений из файла:
anomal = df1T[(df1T['amount'] < lower_bound) | (df1T['amount'] > upper_bound)]

print(anomal)

Empty DataFrame
Columns: [transaction_id, client_id, transaction_date, service, amount, payment_method, city, consultant]
Index: []

План очистки данных файла Клиентов:
-Удалить строки где нет id.
-Удалить строки где нет Общей суммы активов. 
 
...